.ct-as-3-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 4.0px;
  margin-top: 38px;
  min-width: 336px;
  position: relative;
}

.cta-9 {
  align-items: flex-start;
  display: flex;
  margin-left: 28px;
  min-width: 208px;
}

.overlap-group-10 {
  align-items: flex-end;
  background-color: var(--grape);
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  min-width: 206px;
  padding: 12px 48px;
}

.add-to-cart-5 {
  letter-spacing: 0;
  min-height: 18px;
  width: 107px;
}

.ct-as-3-1.ct-as-3-2 .overlap-group-10,
.ct-as-3-1.ct-as-3-2 .overlap-group-11 {
  padding: 12px 33px;
}

.ct-as-3-1.ct-as-3-2 .add-to-cart-5,
.ct-as-3-1.ct-as-3-2 .add-to-cart-6 {
  width: 122px;
}

.ct-as-3-1.ct-as-4 {
  align-items: flex-start;
  display: flex;
  margin-right: 5.0px;
  margin-top: 38px;
  min-width: 336px;
  position: relative;
}

.ct-as-3-1.ct-as-4 .overlap-group-10 {
  padding: 12px 27px;
}

.ct-as-3-1.ct-as-4 .add-to-cart-5 {
  width: 128px;
}

