.ct-as-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 4.0px;
  margin-top: 38px;
  min-width: 336px;
  position: relative;
}

.cta-7 {
  align-items: flex-start;
  display: flex;
  margin-left: 28px;
  min-width: 208px;
}

.overlap-group-8 {
  align-items: flex-end;
  background-color: var(--grape);
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  min-width: 206px;
  padding: 12px 14px;
}

.add-to-cart-3 {
  letter-spacing: 0;
  min-height: 18px;
  text-align: center;
  width: 175px;
}

