.trolley-icon {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 5px;
  width: 38px;
}

.overlap-group-6 {
  height: 29px;
  margin-right: -0.75px;
  margin-top: -1px;
  position: relative;
  width: 39px;
}

.vector-3 {
  height: 17px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 32px;
}

.vector-4 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.flex-row-9 {
  align-items: flex-start;
  display: flex;
  margin-right: 3.5px;
  margin-top: 2px;
  min-width: 26px;
}

.ellipse-2 {
  border-radius: 4.5px;
  height: 9px;
  width: 9px;
}

.ellipse-3 {
  border-radius: 4.5px;
  height: 9px;
  margin-left: 8px;
  width: 9px;
}

